@import "base.css";

.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px !important;
    -fx-font-family: "System" !important;
    -fx-fill: #000000 !important;
}

.myDialog > *.label.content{
    -fx-font-size: 14px !important;
    -fx-font-family: "System" !important;
    -fx-fill: #000000 !important;
}

.myDialog .button:default{
    -fx-background-color: -main-theme-color !important;
    -fx-text-fill: #ffffff !important;
}

/*.myDialog .button:default:hover {
    -fx-border-color: #666666 !important;
}*/

.myDialog .button:default:pressed {
    -fx-background-color: derive(-main-theme-color, -40%) !important;
}