@import "base.css";

.left-anchor-pane {
    -fx-background-color: -main-theme-color !important;
}

.right-anchor-pane {
    -fx-background-color: -secundary-theme-color !important;
}

.icon {
    -fx-fill: #838689 !important;
}

.icon:hover {
    -fx-fill: #585a5c !important;
}

.icon:pressed {
    -fx-fill: #111 !important;
}

.button-icon-color {
    -fx-fill: #111
}

.login-btn {
    -fx-background-color: -main-theme-color !important;
    -fx-text-fill: #111 !important;
}

.login-btn:hover {
    -fx-border-color: #666666 !important;
    -fx-border-width: 2 !important;
}

.login-btn:pressed {
    -fx-background-color: derive(-main-theme-color, -40%) !important;
    -fx-border-color: derive(-main-theme-color, -40%) !important;
}