.anchor-pane{
    -fx-background-color: #ffffff;
}

.title-label {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.data-label {
    -fx-font-size: 14;
}

.table-row-cell:odd {
    -fx-background-color: #f3f3f3;
}

.column-header:hover {
    -fx-background-color: transparent !important;
}
